Flask
Flask-Cors
Werkzeug
PyMuPDF
requests
pypdf
langchain
ollama
sentence-transformers
faiss-cpu
pdfplumber
reportlab
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
timm==1.0.15
shutils
image
numpy==1.26.4
git+https://github.com/openai/CLIP.git@<commit-hash>
